<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <form action="{% url 'students-register' %}" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <br>
        <label for="jmbg">JMBG</label>
        <input type="text" name="jmbg" id="jmbg">
        <br>
        <label for="index">Index</label>
        <input type="text" name="index" id="index">
        <br>
        <input type="submit" value="Register">
    </form>
<!-- create table of all students -->
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>JMBG</th>
                <th>Index</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.jmbg }}</td>
                    <td>{{ student.index }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>